@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --azul: #0c374f;
  --amarillo: #ffe125;
  --celeste: #2bc4f3;
  --fondo-uno: #4eb0e4;
  --fondo-dos: #edf7fc;
  --font-oswald: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-dancing: "Dancing Script", cursive;
  --sombra-basica: 0 0 5px black;
}

/* body {
  max-width: 1440px;
  margin: auto;
}

/* COMIENZO DE LOS ESTILOS DEL HEADER */

.encabezado {
  width: 100%;
  height: 116px;
  position: relative;
}

.encabezado-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--azul);
  position: fixed !important;
  transform: translateY(0);
  transition: all 0.5s ease;
  z-index: 2;
}

.encabezado-container.hidde {
  position: fixed !important;
  transform: translateY(-200px);
  transition: all 0.5s ease;
  z-index: 2;
}

.encabezado-logoBox {
  display: flex;
  margin: 0.5rem;
}

.encabezado-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.encabezado-img:hover {
  animation: rotar 1s ease-in-out;
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.encabezado-titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0.5rem;
}

.encabezado-title {
  font-family: var(--font-oswald);
  font-size: 2rem;
  font-weight: bolder;
  color: var(--amarillo);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.encabezado-subtitle {
  font-family: var(--font-dancing);
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--celeste);
  margin: 5px 0 0 0;
}

.encabezado-nav {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.encabezado-items {
  font-family: var(--font-roboto);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  box-shadow: 0 0 0 black, inset 0 0 5px black;
  transition: all 0.5s ease-in-out;
}

.encabezado-items:hover {
  box-shadow: 0 1px 5px black;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin: 0.5rem;
}

.svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.svg.show {
  transform: rotate(-45deg);
}

.line-top-bottom.show {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.aside {
  width: 200px;
  height: 100vh;
  background-color: var(--azul);
  position: absolute;
  top: 0;
  right: -200px;
  display: none;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.aside.show {
  right: 0;
}

/* FINAL DE LOS ESTILOS DEL HEADER */
/* COMIENZO DE LOS ESTILOS DEL HERO */

.hero {
  width: 100%;
  height: 80vh;
}

.hero-container {
  width: 100%;
  height: 100%;
}

.hero-box {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-boxText {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  box-shadow: var(--sombra-basica);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.hero-text {
  font-family: var(--font-roboto);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hero-important {
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-shadow: 0px 0px 2px black;
  color: var(--amarillo);
}

.hero-btn {
  font-family: var(--font-roboto);
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: var(--celeste);
  border: none;
  border-radius: 25px;
  box-shadow: var(--sombra-basica);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.hero-btn:hover {
  box-shadow: 0 2px 3px black;
  transform: translateY(-0.1em);
}

.hero-btn:active {
  box-shadow: inset 0 -1px 4px black;
  transform: translateY(0em);
}

/* FINAL DE LOS ESTILOS DEL HERO */



/* COMIENZO DE LOS ESTILOS DEL NOSOTROS */



.nosotros-section {

  width: 100%;
  max-width: none;
  height: auto;
  background-color: var(--fondo-uno);  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  
}


.nosotros-conteiner {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  background-color: var(--fondo-uno);
  
}


.nosotros-ul {
  display: flex;  
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: var(--fondo-uno);
}


.nosotro-li {
  flex: 0 0 calc(50% - 20px); 
  margin-right: 20px; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
}


.nosotros-h2,
.nosotros-text {
  font-size: 24px;
  margin: 80px;
  font-family: var(--font-roboto);  
  text-transform: uppercase;
  text-align: center;
}

.nosotros-h2{
  color: #ffe125;
  text-decoration: underline;
  letter-spacing: 1px;


}


.p-nosotros,
.p-crescimiento,
.p-familia,
.p-historia,
.p-mission{
  font-size: 20px;
  line-height: 1.6;
  margin: 100px;
  text-align: center;
}





/* FINAL DE LOS ESTILOS DEL NOSOTROS */




/* COMIENZO DE LOS ESTILOS DEL SERVICIOS */

.servicios {
  width: 100%;
  background-image: url("../img/background-servicios.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.servicios-h2 {
  font-family: var(--font-roboto);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  margin: 2rem 0;
}

.servicios-h3 {
  font-family: var(--font-roboto);
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 2rem 0;
}

.servicios-sub {
  width: 600px;
  font-size: 35px;
  margin-bottom: 10px;
  background-color: transparent;
  text-align: center;
  font-size: auto;
  height: auto;
  
  border-color: #0b90c5;
  border-radius: 25px;
  background-color: rgba(11, 144, 197, 0.3);
  box-shadow: -1px 1px 14px 4px black;
}

.servicios-p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: justify;
  padding: 30px;

  }

.servicios-img {
  height: 150px;
  width: auto;
  border-style: double;
}


.servicios-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}

/* FINAL DE LOS ESTILOS DEL SERVICIOS */

/* COMIENZO DE LOS ESTILOS DEL SOLICITAR TURNO */

.turno {
  width: 100%;
  background-color: var(--fondo-uno);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turno-title {
  font-family: var(--font-roboto);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  margin: 2rem 0;
}

.turno-subtitle,
.turno-formTitle {
  font-family: var(--font-oswald);
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.turno-form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: start;
  margin: 2rem 0;
}

.turno-formBox {
  width: 450px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turno-formBox:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.turno-formBox:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.turno-box {
  width: 100%;
  margin: 1.5rem 0 0;
}

.turno-label {
  display: none;
}

.turno-input,
.turno-select {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: inset 0 -1px 4px black;
  padding: 0 1rem;
  transition: all 1s ease;
  font-family: var(--font-roboto);
}

.turno-input:focus,
.turno-seleect:focus {
  box-shadow: var(--sombra-basica);
}

.turno-btn {
  font-family: var(--font-roboto);
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: var(--celeste);
  border: none;
  border-radius: 25px;
  box-shadow: var(--sombra-basica);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  grid-column-start: 2;
  grid-column-end: 4;
}

.turno-btn:hover {
  box-shadow: 0 2px 3px black;
  transform: translateY(-0.1em);
}

.turno-btn:active {
  box-shadow: inset 0 -1px 4px black;
  transform: translateY(0em);
}

.turno-wave {
  width: 100%;
  position: relative;
  top: 4px
}

/* FINAL DE LOS ESTILOS DEL SOLICITAR TURNO */
/*COMIENZO DE LOS ESTILOS DEL CONTACTO*/

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#contacto {
  padding: 3em;
  background-color: var(--fondo-dos);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-titulo {
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: var(--font-roboto);
  text-transform: uppercase;
}

.contacto-contenedor {
  display: flex;
  justify-content: space-between;
}

.contacto-formulario {
  background-color: var(--azul);
  border-radius: 30px;
  width: 50%;
  padding: 20px;
}

.contacto-subtitulo {
  font-family: var(--font-roboto);
  margin-bottom: 30px;
}

.subtitulo-form {
  color: var(--fondo-dos);
}

.subtitulo-info {
  color: var(--azul);
}

.contacto-formulario-label {
  display: none;
}

.contacto-formulario-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.contacto-formulario-item {
  width: 75%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--celeste);
  font-size: 1rem;
  font-family: var(--font-roboto);
}

.contacto-formulario-item:focus {
  background-color: var(--fondo-dos);
  transition: 500ms;
}

.contacto-formulario-item-textarea {
  height: 100px;
  resize: none;
}

.contacto-radio-contenedor {
  border: none;
  margin-top: 1rem;
}
.contacto-radio-contenedor:first-of-type {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.contacto-radio-titulo {
  font-size: 1.3rem;
  font-family: var(--font-roboto);
  color: var(--fondo-dos);
  margin-bottom: 1rem;
  font-family: var(--font-roboto);
}

.contacto-radio-label {
  color: var(--fondo-dos);
  font-family: var(--font-roboto);
  margin-right: 15px;
}

.contacto-radio {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--fondo-dos);
  transition: 0.2s all linear;
  margin-right: 5px;
}

.contacto-radio:checked {
  border: 6px solid var(--celeste);
}

.contacto-formulario-boton {
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  background-color: var(--amarillo);
  box-shadow: var(--sombra-basica);
  cursor: pointer;
  font-family: var(--font-roboto);
  
}

.contacto-formulario-boton:hover {
  box-shadow: 0 2px 3px black;
  transform: translateY(-0.1em);
}

.contacto-formulario-boton:active {
  background-color: black;
  color: var(--amarillo);
}

.contacto-info {
  padding: 20px;
}

.contacto-info-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: 2rem;
}

.contacto-info-lista {
  list-style: none;
  padding: 0;
}

.contacto-info-item {
  display: flex;
  gap: 0.5em;
  font-family: var(--font-roboto);
  margin: 1em 0;
  font-size: 1.2em;
  font-weight: 700;
}

.contacto-info-simbolo {
  color: var(--celeste);
  font-weight: bold;
}

.contacto-info-enlace {
  text-decoration: none;
  color: var(--azul);
  cursor: default;
}
.contacto-mapa {
  border-radius: 15px;
  height: 300px;
}

/* FINAL DE LOS ESTILOS DEL CONTACTO */
/* COMIENZO DE LOS ESTILOS DEL FOOTER */

.footer_section .fotter_column li {
  list-style-type: none;
}

.footer_section_social .social_links ul li {
  list-style-type: none;
}


.footer_page {
  background-color: var(--azul);
}

.footer_page .footer_section .fotter_column li a {
  color: #ffffff;
  text-decoration: none;
  
}

.footer_section {
  display: flex;
  justify-content: space-around;
  padding: 2.3rem 0;
  
}

.footer_section .fotter_column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.footer_column_title {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: white;
  
}

.footer_section_social {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}

.social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0;
}

.footer_page .social_links a , .social_links p,
.footer_page .footer_section_social p {
  
  color: #ffffff;
}

.social_links p .social_media_container li a  {
  font-size: 1.5rem;
}

.social_links ul li p {
  list-style-type: none;
}

.social_media_container {
  display: flex;
  gap: 1rem;
}

.footer_section .logo_container .logo {
  width: 90px;
  height: 70px;
}

.footer_section .logo_container:hover {
  scale: 1.2;
}

.footer_page .footer_section .fotter_column li a:hover {
  color: #000000;
}

.social_links .social_fb:hover {
  color: #4889d4;
}

.social_links .social_tw:hover {
  color: #000000;
}

.social_links .social_yt:hover {
  color: #d61111;
}

/* FINAL DE LOS ESTILOS DEL FOOTER */

/* MEDIA QUERIES */

@media screen and (width <= 1024px) {
  /* COMIENZO DE LOS ESTILOS DEL HEADER */

  .encabezado-nav {
    display: none;
  }

  .encabezado-items {
    margin: 0 0.5rem 1rem;
  }

  .hamburger {
    display: block;
  }

  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* FINAL DE LOS ESTILOS DEL HEADER */

  /* COMIENZO DE LOS ESTILOS DEL NOSOTROS */

  .nosotro-li {
    flex: 0 0 calc(50% - 20px);
    margin-right: 20px; 
    margin-bottom: 20px; 
  }

  .nosotros-h2,
    .nosotros-text,
    .p-nosotros,
    .p-crescimiento,
    .p-familia,
    .p-historia,
    .p-mission {
      margin: 15px; 
    }

  /* FINAL DE LOS ESTILOS DEL NOSOTROS */

  /* COMIENZO DE LOS ESTILOS DE SOLICITAR TURNO */

  .turno-subtitle {
    text-align: center;
  }

  .turno-formBox:nth-child(1),
  .turno-formBox:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  /* FINAL DE LOS ESTILOS DE SOLICITAR TURNO */

  }
  
  @media (max-width: 600px){
    /*COMIENZO DE LOS ESTILOS DE SERVICIOS*/

    .servicios-grid {
       grid-template-columns: 1fr;
     
   }
  /* FINAL DE LOS ESTILOS DE SERVICIOS */
}

@media screen and (max-width: 768px) {

  /* COMIENZO DE LOS ESTILOS DEL HEADER */

  .encabezado {
    height: 91px;
  }

  .encabezado-img {
    width: 75px;
    height: 75px;
  }

  .encabezado-title {
    font-size: 1.8rem;
  }
  
  .encabezado-subtitle {
    font-size: 1.2rem;
  }

  /* FINAL DE LOS ESTILOS DEL HEADER */
  /* COMIENZO DE LOS ESTILOS DEL HERO */

  .hero-boxText {
    width: 400px;
  }

  .hero-text {
    font-size: 1.3rem;
  }

  .hero-important {
    font-size: 1.6rem;
  }

  .hero-btn {
    font-size: 1.1rem;
  }

  /* FINAL DE LOS ESTILOS DEL HERO */
  /* COMIENZO DE LOS ESTILOS DE SOLCITAR TURNO */

  .turno-title {
    font-size: 1.8rem;
  }

  .turno-subtitle {
    width: 75%;
  }

  .turno-subtitle,
  .turno-formTitle {
    font-size: 1.2rem;
  }

  .turno-btn {
    font-size: 1.1rem;
  }

  /* FINAL DE LOS ESTILOS DEL SOLCITAR TURNO */
  /* COMIENZO DE LOS ESTILOS DE CONTACTO */

  .contacto-contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .contacto-formulario {
    width: 100%;
  }

  .contacto-info-contenedor {
    gap: 0;
  }

  /* FINAL DE LOS ESTILOS DE CONTACTO */

  /* COMIENZO DE LOS ESTILOS DE NOSOTROS */


    .nosotros-container {
      padding: 10px;
    }

    .nosotros-section {
      padding: 20px;
    }

    .nosotros-li {
      flex: 0 0 calc(100% - 20px);
      margin-right: 0;
      margin-bottom: 20px;
    }

    .nosotros-h2,
    .nosotros-text,
    .p-nosotros,
    .p-crescimiento,
    .p-familia,
    .p-historia,
    .p-mission {
      margin: 10px;
      font-size: 18px;
    }
  




    /* FINAL DE LOS ESTILOS DE NOSOTROS */







  /* COMIENZO DE LOS ESTILOS DEL FOOTER */

.footer_page{
  align-items: center;

}

  .footer_section {
    /* flex-direction:column ;
    padding: 1.5rem ;     */
    /* align-items:center; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .footer_column{
    flex:1;
    padding: 0 1rem;
  }



  .footer_section_social {
    /* align-items:center;
    border-top: solid 2px rgba(255, 255, 255, 0.744);
    font-size: 9px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px rgba(255, 255, 255, 0.744);
    font-size: 9px;
    padding-top: 1rem;

    
  }

  .footer_column_title {
    margin-top: 0.8rem;
    font-size: 9px;
    
  }

  .footer_column_title li ul {
    font-size: 9px;
  }

  .footer_section ul li{
    font-size: 10px;
  }

  .footer_section .logo_container .logo {
    height: 40px;
    width: 50px;
    margin-top: 20px;
    margin-right: 15px;
  }

  .social_links {
    /* flex-direction:column;
    align-items: center;
    gap: 0.5rem; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

  }

  /* FINAL DE LOS ESTILOS DEL FOOTER  */
}

@media screen and (width <= 550px) {
  
  /*COMIENZO DE LOS ESTILOS DEL ENCABEZADO*/

  .encabezado-items {
    margin: 0 5.5rem 1rem;
    text-align: center;
  }

  .svg {
    height: 2.5em;
  }

  .aside {
    width: 100%;
    right: -100%;
  }

  /*FINAL DE LOS ESTILOS DEL ENCABEZADO*/
  /*COMIENZO DE LOS ESTILOS DEL HERO*/

  .hero-boxText {
    width: 350px;
  }

  .hero-text {
    font-size: 1.2rem;
  }

  .hero-important {
    font-size: 1.5rem;
  }
  /*FINAL DE LOS ESTILOS DEL HERO*/
  /*COMIENZO DE LOS ESTILOS DE SOLICITAR TURNO*/

  .turno-title {
    font-size: 1.5rem;
  }

  .turno-subtitle {
    font-size: 1.1rem;
  }
  
  .turno-formBox {
    width: 350px;
  }

  .turno-input,
  .turno-select {
    height: 40px;
  }
}

@media screen and (max-width: 425px) {
  /* COMIENZO DE LOS ESTILOS DE CONTACTO */

  .contacto-formulario-form {
    gap: 1em;
  }
  .contacto-formulario-item {
    height: 40px;
  }

  .contacto-formulario-item-textarea {
    height: 80px;
  }

  .contacto-mapa {
    display: none;
  }

  /* FINAL DE LOS ESTILOS DE CONTACTO */
}
